{template nheader.html}
<script type="text/javascript">
	$(function() {
		{if $error}
		dr_tips('{$error}', 3);
		{/if}
		dr_theme({$is_theme});
	});
	function dr_select_all() {
		$("#dr_synid").find("option").attr("selected", "selected");
	}
	function dr_theme(id) {
		if (id == 1) {
			$("#dr_theme_html").html($("#dr_web").html());
		} else {
			$("#dr_theme_html").html($("#dr_local").html());
		}
	}
</script>
<div id="dr_local" style="display: none">
	<label class="col-md-2 control-label">{fc_lang('主题风格')}：</label>
	<div class="col-md-9">
		<label><select class="form-control" name="data[theme]">
			<option value="default"> -- </option>
			{loop $theme $t}
			<option{if $t==$data['theme']} selected=""{/if} value="{$t}">{$t}</option>
			{/loop}
		</select></label>
		<span class="help-block">{fc_lang('位于网站主站根目录下：根目录/statics/风格名称/')}</span>
	</div>
</div>
<div id="dr_web" style="display: none">
	<label class="col-md-2 control-label">{fc_lang('远程资源')}：</label>
	<div class="col-md-9">
		<input class="form-control  input-xlarge" type="text" placeholder="http://" name="data[theme]" value="{php echo strpos($data['theme'], 'http') === 0 ? $data['theme'] : '';}">
		<span class="help-block">{fc_lang('网站将调用此地址的css,js,图片等静态资源')}</span>
	</div>
</div>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
	<input name="page" id="page" type="hidden" value="{$page}" />
	<div class="page-bar">
		<ul class="page-breadcrumb mylink">
			{$menu.link}

		</ul>
		<ul class="page-breadcrumb myname">
			{$menu.name}
		</ul>
		<div class="page-toolbar">
			<div class="btn-group pull-right">
				<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
					<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					{loop $menu.quick $t}
					<li>
						<a href="{$t.url}">{$t.icon} {$t.name}</a>
					</li>
					{/loop}
					<li class="divider"> </li>
					<li>
						<a href="javascript:window.location.reload();">
							<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<h3 class="page-title">
		<small>{fc_lang('在会员模型中可以把会员自定义字段划分给指定会员组使用')}</small>
	</h3>
	<div class="portlet light bordered myfbody">
		<div class="portlet-title tabbable-line">
			<ul class="nav nav-tabs" style="float:left;">
				<li class="active">
					<a href="#tab_0" data-toggle="tab"> <i class="fa fa-cog"></i> {fc_lang('基本设置')} </a>
				</li>
			</ul>
		</div>
		<div class="portlet-body">
			<div class="tab-content">


				<div class="tab-pane active" id="tab_0">
					<div class="form-body">

						<div class="form-group" style="display: none;">
							<label class="col-md-2 control-label" style="padding-top:10px">{fc_lang('风格模式')}：</label>
							<div class="col-md-9">
								<div class="radio-list">
									<label class="radio-inline"><input type="radio" onclick="dr_theme(1)" name="theme" value="1" {if $is_theme}checked{/if} /> {fc_lang('远程地址')}</label>
									<label class="radio-inline"><input type="radio" onclick="dr_theme(0)" name="theme" value="0" {if !$is_theme}checked{/if} /> {fc_lang('本站资源')}</label>
								</div>
								<span class="help-block">{fc_lang('可以将js,css,图片存储在远程地址或者本地statics目录之中')}</span>
							</div>
						</div>
						<div class="form-group" id="dr_theme_html" style="display: none;">

						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-2 control-label">{fc_lang('模板目录')}：</label>
							<div class="col-md-9">
								<label><select class="form-control" name="data[template]">
									<option value="default"> -- </option>
									{loop $mtemplate $t}
									<option{if $t==$data.template} selected=""{/if} value="{$t}">{$t}</option>
									{/loop}
								</select></label>
								<span class="help-block">{fc_lang('用于存储html模板页面')}</span>
							</div>
						</div>


					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="myfooter">
		<div class="row">
			<div class="portlet-body form">
				<div class="form-body">
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn green"> <i class="fa fa-save"></i> {fc_lang('保存')}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{template nfooter.html}