{template nheader.html}
<script type="text/javascript">
$(function() {
	{if $error}
	dr_tips('{$error}', 3);
	{/if}
});
</script>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
<div class="page-bar">
	<ul class="page-breadcrumb mylink">
		{$menu.link}

	</ul>
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title">
	<small>{fc_lang('会员等级通过经验值自动升级，可以通过不同的等级来划分会员的使用权限')}</small>
</h3>
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-green sbold uppercase">{fc_lang('会员等级')}</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="form-body">

			<div class="form-group">
				<label class="col-md-2 control-label">{fc_lang('名称')}：</label>
				<div class="col-md-9">
					<label><input type="text" class="form-control" name="data[name]" value="{$data['name']}" id="dr_name" onblur="d_topinyin('table','name');"></label>
					<span class="help-block"> {fc_lang('给它一个描述名称')} </span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{fc_lang('星星数量')}：</label>
				<div class="col-md-9">
					<label><input type="text" class="form-control" name="data[stars]" value="{intval($data['stars'])}"></label>
					<span class="help-block"> {fc_lang('星星数在达到4时，4个星星显示为1个月亮、4个月亮显示为1个太阳')} </span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{fc_lang(SITE_EXPERIENCE.'要求')}：</label>
				<div class="col-md-9">
					<label><input type="text" class="form-control" name="data[experience]" value="{intval($data['experience'])}"></label>
					<span class="help-block"> {fc_lang('该等级需要的'.SITE_EXPERIENCE.'，'.SITE_EXPERIENCE.'越低越排在前面，0表示初始等级需要的'.SITE_EXPERIENCE.'')} </span>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="myfooter">
	<div class="row">
		<div class="portlet-body form">
			<div class="form-body">
				<div class="form-actions">
					<div class="row">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn green"> <i class="fa fa-save"></i> {fc_lang('保存')}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

{template nfooter.html}